<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="owin.AppStartup" value="SignalRHubServer.Startup,SignalRHubServer" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
  </system.webServer>
  <connectionStrings>
     <add name="conString" providerName="SQLOLEDB.1" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=NightCrawler;Data Source=DEVSYS2008\DEVSYS2008;timeout=60" />
     <!-- <add name="conString" providerName="SQLOLEDB.1" connectionString="Data Source=tcp:s11.winhost.com;Initial Catalog=DB_98610_underground;User ID=DB_98610_underground_user;Password=microb8u;Integrated Security=False;" />//-->
  </connectionStrings>
  <system.web>
    <trust level="Full" />
    <webParts>
      <personalization defaultProvider="ANSPP">
        <providers>
          <remove name="ANSPP" />
          <add name="ANSPP" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider" connectionStringName="conString" applicationName="/" />
        </providers>
      </personalization>
    </webParts>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <siteMap defaultProvider="public">
      <providers>
        <add name="public" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" />
        <add name="userAccess" type="System.Web.XmlSiteMapProvider" siteMapFile="~/UserItems/Web.sitemap" />
      </providers>
    </siteMap>
    <authentication mode="Forms">
      <forms defaultUrl="default.aspx"></forms>
    </authentication>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="UserItems">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="UserItems/userUploads">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Venues">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Venues/eventImages">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Venues/venueUploads">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="avCollection">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>